In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
nothotsongs=pd.read_csv('Top500Songs.csv', encoding='latin1')
nothotsongs.head()
not_hot_songs=nothotsongs.loc[:,['title','artist']]
not_hot_songs.head()

                            title              artist
0            Like a Rolling Stone           Bob Dylan
1  (I Can't Get No) Satisfaction'  The Rolling Stones
2                         Imagine         John Lennon
3                 What's Going On         Marvin Gaye
4                         Respect     Aretha Franklin

In [3]:
not_hot_songs.isna().sum()

title     0
artist    0
dtype: int64

In [4]:
not_hot_songs.shape

(500, 2)

In [5]:
not_hot_songs.drop_duplicates()

                              title                  artist
0              Like a Rolling Stone               Bob Dylan
1    (I Can't Get No) Satisfaction'      The Rolling Stones
2                           Imagine             John Lennon
3                   What's Going On             Marvin Gaye
4                           Respect         Aretha Franklin
..                              ...                     ...
495                          Heroin  The Velvet Underground
496              Leader of the Pack         The Shangri-Las
497                   Pressure Drop   Toots and the Maytals
498                 Come As You Are                 Nirvana
499                  I Got You Babe          Sonny and Cher

[450 rows x 2 columns]

In [6]:
hot_songsdf=pd.read_csv('hotsongs.csv')
hot_songsdf.head()
hot_songsdf['title']

0             Anti-Hero
1         Lavender Haze
2                Maroon
3     Snow On The Beach
4         Midnight Rain
            ...
95             Dark Red
96          From Now On
97            Forget Me
98             Miss You
99             Despecha
Name: title, Length: 100, dtype: object

In [7]:
hot_songsdf

    Unnamed: 0              title                               artist
0            0          Anti-Hero                         Taylor Swift
1            1      Lavender Haze                         Taylor Swift
2            2             Maroon                         Taylor Swift
3            3  Snow On The Beach  Taylor Swift Featuring Lana Del Rey
4            4      Midnight Rain                         Taylor Swift
..         ...                ...                                  ...
95          95           Dark Red                                   78
96          96        From Now On            Lil Baby Featuring Future
97          97          Forget Me                        Lewis Capaldi
98          98           Miss You           Oliver Tree & Robin Schulz
99          99           Despecha                              Rosalia

[100 rows x 3 columns]

In [8]:
hot_songs = hot_songsdf.drop(labels='Unnamed: 0', axis=1)

In [9]:
hot_songs

                title                               artist
0           Anti-Hero                         Taylor Swift
1       Lavender Haze                         Taylor Swift
2              Maroon                         Taylor Swift
3   Snow On The Beach  Taylor Swift Featuring Lana Del Rey
4       Midnight Rain                         Taylor Swift
..                ...                                  ...
95           Dark Red                                   78
96        From Now On            Lil Baby Featuring Future
97          Forget Me                        Lewis Capaldi
98           Miss You           Oliver Tree & Robin Schulz
99           Despecha                              Rosalia

[100 rows x 2 columns]

In [10]:
not_hot_songs

                              title                  artist
0              Like a Rolling Stone               Bob Dylan
1    (I Can't Get No) Satisfaction'      The Rolling Stones
2                           Imagine             John Lennon
3                   What's Going On             Marvin Gaye
4                           Respect         Aretha Franklin
..                              ...                     ...
495                          Heroin  The Velvet Underground
496              Leader of the Pack         The Shangri-Las
497                   Pressure Drop   Toots and the Maytals
498                 Come As You Are                 Nirvana
499                  I Got You Babe          Sonny and Cher

[500 rows x 2 columns]

In [12]:
not_hot_songs.to_csv("not_hot_songs.csv")

In [176]:
pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in /Users/clara/opt/anaconda3/lib/python3.9/site-packages (0.18.0)
Note: you may need to restart the kernel to use updated packages.

In [172]:
import csv
from fuzzywuzzy import fuzz, process